In [99]:
"""
Find demographic data at the zip code level
- Variables requested: Income level, children, race/ethnicity
- Variables suggested: insurance, SNAP
- Zip codes in Kent County:

"""

'\nFind demographic data at the zip code level\n- Variables requested: Income level, children, race/ethnicity\n- Variables suggested: insurance, SNAP\n- Zip codes in Kent County:\n\n'

In [100]:
import pandas as pd
df_zip = pd.read_csv('kent_county_zip_codes.csv')
df_zip.head()

   Zip Code          City       County
0     49301           Ada  Kent County
1     49302          Alto  Kent County
2     49306       Belmont  Kent County
3     49315  Byron Center  Kent County
4     49316        Dutton  Kent County

In [101]:
df_household_composition = pd.read_csv('DP02.csv')

q_kids = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Households with one or more people under 18 years' #iloc[14]
q_spanish = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Spanish' #.iloc[131]
q_adult = '\xa0\xa0\xa0\xa0Civilian population 18 years and over' #.iloc[77]

df_kids = df_household_composition[df_household_composition['Label (Grouping)']==q_kids]
df_kids['Variable'] = 'Households with kids'

df_spanish = df_household_composition[df_household_composition['Label (Grouping)']==q_spanish]
df_spanish['Variable'] = 'Spanish speaking household'

df_adults = df_household_composition[df_household_composition['Label (Grouping)']==q_adult]
df_adults['Variable'] = 'Adult population'

df2 = pd.concat([df_kids, df_spanish])
df2 = pd.concat([df2, df_adults])
df2 = df2.reset_index(drop=True)

filtered_columns = ['Variable'] + [col for col in df2.columns if col.endswith('!!Percent')]
shortname_columns = [col.replace('!!Percent','').replace('ZCTA5','Zip') for col in filtered_columns]
rename_dict = {}
for i in range(len(filtered_columns)):
    rename_dict[filtered_columns[i]] = shortname_columns[i]

df2 = df2[filtered_columns]
df2 = df2.rename(columns = rename_dict)

df2

/var/folders/m7/stbdcc3d4x3d5ck2zs1709w40000gq/T/ipykernel_80943/3107261962.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kids['Variable'] = 'Households with kids'
/var/folders/m7/stbdcc3d4x3d5ck2zs1709w40000gq/T/ipykernel_80943/3107261962.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_spanish['Variable'] = 'Spanish speaking household'
/var/folders/m7/stbdcc3d4x3d5ck2zs1709w40000gq/T/ipykernel_80943/3107261962.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adults['Variable'] = 'Adult population'

,Variable,Zip 48809,Zip 48838,Zip 49301,Zip 49302,Zip 49306,Zip 49315,Zip 49316,Zip 49319,Zip 49321,...,Zip 49507,Zip 49508,Zip 49509,Zip 49512,Zip 49519,Zip 49525,Zip 49534,Zip 49544,Zip 49546,Zip 49548
0,Households with kids,32.0%,28.8%,42.6%,46.7%,31.1%,40.1%,39.6%,29.4%,27.1%,...,39.3%,35.1%,36.5%,23.4%,30.1%,31.3%,24.6%,24.3%,31.5%,38.1%
1,Spanish speaking household,2.3%,2.7%,3.8%,0.6%,3.4%,2.0%,1.9%,1.6%,3.3%,...,23.3%,7.0%,24.6%,3.6%,12.2%,1.6%,1.6%,3.6%,2.0%,12.9%
2,Adult population,"8,871","14,154","14,514","6,586","8,324","18,440","18,693","14,638","12,301",...,"27,985","31,075","21,231","15,395","22,100","23,713","18,352","7,950","26,370","25,457"

In [102]:
df = pd.read_csv('DP03.csv')
# df['Label (Grouping)'].iloc[105]

# Exclude duplicate names
df = df[(df.index < 80) | (df.index > 106)]

dict = {
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Less than $10,000':'Household income less than $10,000',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$10,000 to $14,999':'Household income $10,000 to $14,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$15,000 to $24,999':'Household income $15,000 to $24,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$25,000 to $34,999':'Household income $25,000 to $34,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$35,000 to $49,999':'Household income $35,000 to $49,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$50,000 to $74,999':'Household income $50,000 to $74,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$75,000 to $99,999':'Household income $75,000 to $99,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$100,000 to $149,999':'Household income $100,000 to $149,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$150,000 to $199,999':'Household income $150,000 to $199,999',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0$200,000 or more':'Household income $200,000 or more',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With Food Stamp/SNAP benefits in the past 12 months':'Households with Food Stamp/SNAP benefits in the past 12 months',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0No health insurance coverage':'No health insurance coverage'
}

for key, value in dict.items():
    df = df[df['Label (Grouping)'].isin(dict.keys())]

df = df.rename(columns={'Label (Grouping)':'Variable'})
filtered_columns = ['Variable'] + [col for col in df.columns if col.endswith('!!Percent')]
shortname_columns = [col.replace('!!Percent','').replace('ZCTA5','Zip') for col in filtered_columns]
rename_dict = {}
for i in range(len(filtered_columns)):
    rename_dict[filtered_columns[i]] = shortname_columns[i]

df = df[filtered_columns]
df3 = df.rename(columns = rename_dict)

df3

,Variable,Zip 48809,Zip 48838,Zip 49301,Zip 49302,Zip 49306,Zip 49315,Zip 49316,Zip 49319,Zip 49321,...,Zip 49507,Zip 49508,Zip 49509,Zip 49512,Zip 49519,Zip 49525,Zip 49534,Zip 49544,Zip 49546,Zip 49548
57,"Less than $10,000",4.6%,4.0%,1.9%,1.5%,3.2%,1.2%,2.6%,2.0%,2.2%,...,8.1%,3.2%,4.4%,3.7%,4.1%,2.1%,2.0%,2.4%,4.3%,4.3%
58,"$10,000 to $14,999",4.4%,3.9%,0.8%,1.1%,1.5%,1.7%,1.7%,6.1%,2.1%,...,6.0%,4.8%,3.7%,2.7%,3.5%,2.0%,1.9%,2.9%,2.2%,2.1%
59,"$15,000 to $24,999",7.7%,7.3%,2.2%,1.1%,3.2%,3.1%,3.9%,7.1%,11.9%,...,9.5%,5.8%,10.7%,6.6%,6.9%,4.6%,3.5%,13.2%,5.6%,7.7%
60,"$25,000 to $34,999",5.9%,10.2%,2.7%,4.6%,4.9%,4.7%,3.0%,6.7%,4.7%,...,9.5%,9.4%,6.9%,8.0%,7.4%,8.0%,5.7%,5.2%,5.5%,9.6%
61,"$35,000 to $49,999",12.2%,14.9%,2.1%,11.7%,8.3%,8.6%,8.7%,10.7%,15.8%,...,15.1%,15.8%,13.4%,17.5%,12.5%,9.8%,12.9%,15.0%,9.7%,17.7%
62,"$50,000 to $74,999",22.0%,21.9%,7.2%,12.7%,13.0%,15.4%,13.8%,18.8%,19.9%,...,16.4%,18.5%,23.4%,18.5%,22.3%,16.7%,21.0%,18.2%,13.6%,22.3%
63,"$75,000 to $99,999",16.3%,13.0%,9.1%,11.4%,13.6%,13.6%,17.1%,13.6%,15.0%,...,13.4%,14.7%,14.4%,10.1%,16.1%,12.5%,17.5%,12.1%,13.6%,16.5%
64,"$100,000 to $149,999",17.8%,15.3%,18.0%,23.1%,22.6%,21.9%,21.3%,22.5%,16.4%,...,13.4%,16.0%,17.2%,19.2%,16.7%,21.1%,22.3%,17.8%,19.7%,14.3%
65,"$150,000 to $199,999",6.6%,6.0%,16.0%,22.1%,10.6%,16.2%,16.6%,8.0%,6.8%,...,5.1%,6.6%,3.3%,5.6%,6.6%,11.0%,7.2%,5.5%,9.2%,3.7%
66,"$200,000 or more",2.6%,3.5%,40.0%,10.7%,19.1%,13.6%,11.2%,4.5%,5.2%,...,3.5%,5.2%,2.6%,8.0%,4.0%,12.3%,5.9%,7.7%,16.4%,1.7%
79,With Food Stamp/SNAP benefits in the p...,23.3%,10.4%,0.7%,1.9%,4.6%,0.5%,3.2%,11.8%,10.1%,...,21.6%,14.8%,16.2%,5.7%,12.6%,4.9%,2.7%,13.0%,4.2%,15.9%
107,No health insurance coverage,0.5%,1.5%,0.8%,6.8%,3.9%,2.8%,1.0%,1.1%,1.7%,...,5.6%,2.9%,1.8%,3.0%,2.9%,2.4%,0.0%,0.0%,3.1%,2.4%

In [103]:
df = pd.read_csv('DP05.csv')
# df['Label (Grouping)'].iloc[68] #70-78

# Exclude duplicate names
df = df[(df.index >= 68) & (df.index <= 76)]

dict = {
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0White':'White',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Black or African American':'Black or African American',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0American Indian and Alaska Native':'American Indian and Alaska Native',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Asian':'Asian',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Native Hawaiian and Other Pacific Islander':'Native Hawaiian and Other Pacific Islander',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Some Other Race':'Some Other Race',
    '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Hispanic or Latino (of any race)':'Hispanic or Latino'
}

for key, value in dict.items():
    df = df[df['Label (Grouping)'].isin(dict.keys())]

df = df.rename(columns={'Label (Grouping)':'Variable'})
filtered_columns = ['Variable'] + [col for col in df.columns if col.endswith('!!Percent')]
shortname_columns = [col.replace('!!Percent','').replace('ZCTA5','Zip') for col in filtered_columns]
rename_dict = {}
for i in range(len(filtered_columns)):
    rename_dict[filtered_columns[i]] = shortname_columns[i]

df = df[filtered_columns]
df5 = df.rename(columns = rename_dict)

df5

,Variable,Zip 48809,Zip 48838,Zip 49301,Zip 49302,Zip 49306,Zip 49315,Zip 49316,Zip 49319,Zip 49321,...,Zip 49507,Zip 49508,Zip 49509,Zip 49512,Zip 49519,Zip 49525,Zip 49534,Zip 49544,Zip 49546,Zip 49548
68,White,96.9%,96.3%,93.7%,98.5%,96.4%,94.5%,92.2%,98.0%,87.8%,...,53.5%,60.1%,73.2%,72.8%,81.1%,93.5%,93.5%,87.0%,84.7%,71.0%
69,Black or African American,2.2%,3.2%,1.3%,0.6%,3.2%,1.4%,3.3%,0.8%,9.3%,...,41.8%,31.1%,16.4%,22.0%,11.7%,5.1%,2.6%,7.9%,8.1%,19.1%
70,American Indian and Alaska Native,2.0%,0.4%,0.4%,0.5%,2.0%,0.5%,0.8%,1.4%,1.0%,...,1.3%,0.9%,4.5%,1.4%,1.6%,0.9%,1.0%,2.3%,0.9%,2.7%
71,Asian,1.3%,0.9%,6.9%,0.9%,1.4%,3.8%,5.5%,0.6%,1.9%,...,1.0%,10.8%,2.3%,5.2%,4.0%,3.0%,2.1%,5.1%,8.3%,6.7%
72,Native Hawaiian and Other Pacific Isla...,0.5%,0.4%,0.0%,0.0%,0.2%,0.0%,0.1%,0.1%,0.0%,...,0.2%,0.3%,0.1%,0.3%,0.0%,0.3%,0.0%,0.0%,0.0%,0.1%
73,Some Other Race,3.3%,6.9%,3.2%,1.3%,2.6%,3.4%,6.0%,5.2%,4.6%,...,20.3%,7.1%,20.6%,3.2%,11.4%,3.1%,5.1%,6.8%,1.4%,14.9%
76,Hispanic or Latino (of any race),3.5%,4.9%,5.4%,1.7%,6.3%,3.7%,6.9%,5.4%,11.1%,...,33.8%,10.8%,32.1%,7.3%,17.4%,3.8%,4.2%,9.5%,3.1%,21.5%

In [104]:
df_combo = pd.concat([df2,df3])
df_combo = pd.concat([df_combo,df5])
df_combo = df_combo.reset_index(drop=True)
df_combo.to_csv('final_result.csv')
df_combo

,Variable,Zip 48809,Zip 48838,Zip 49301,Zip 49302,Zip 49306,Zip 49315,Zip 49316,Zip 49319,Zip 49321,...,Zip 49507,Zip 49508,Zip 49509,Zip 49512,Zip 49519,Zip 49525,Zip 49534,Zip 49544,Zip 49546,Zip 49548
0,Households with kids,32.0%,28.8%,42.6%,46.7%,31.1%,40.1%,39.6%,29.4%,27.1%,...,39.3%,35.1%,36.5%,23.4%,30.1%,31.3%,24.6%,24.3%,31.5%,38.1%
1,Spanish speaking household,2.3%,2.7%,3.8%,0.6%,3.4%,2.0%,1.9%,1.6%,3.3%,...,23.3%,7.0%,24.6%,3.6%,12.2%,1.6%,1.6%,3.6%,2.0%,12.9%
2,Adult population,"8,871","14,154","14,514","6,586","8,324","18,440","18,693","14,638","12,301",...,"27,985","31,075","21,231","15,395","22,100","23,713","18,352","7,950","26,370","25,457"
3,"Less than $10,000",4.6%,4.0%,1.9%,1.5%,3.2%,1.2%,2.6%,2.0%,2.2%,...,8.1%,3.2%,4.4%,3.7%,4.1%,2.1%,2.0%,2.4%,4.3%,4.3%
4,"$10,000 to $14,999",4.4%,3.9%,0.8%,1.1%,1.5%,1.7%,1.7%,6.1%,2.1%,...,6.0%,4.8%,3.7%,2.7%,3.5%,2.0%,1.9%,2.9%,2.2%,2.1%
5,"$15,000 to $24,999",7.7%,7.3%,2.2%,1.1%,3.2%,3.1%,3.9%,7.1%,11.9%,...,9.5%,5.8%,10.7%,6.6%,6.9%,4.6%,3.5%,13.2%,5.6%,7.7%
6,"$25,000 to $34,999",5.9%,10.2%,2.7%,4.6%,4.9%,4.7%,3.0%,6.7%,4.7%,...,9.5%,9.4%,6.9%,8.0%,7.4%,8.0%,5.7%,5.2%,5.5%,9.6%
7,"$35,000 to $49,999",12.2%,14.9%,2.1%,11.7%,8.3%,8.6%,8.7%,10.7%,15.8%,...,15.1%,15.8%,13.4%,17.5%,12.5%,9.8%,12.9%,15.0%,9.7%,17.7%
8,"$50,000 to $74,999",22.0%,21.9%,7.2%,12.7%,13.0%,15.4%,13.8%,18.8%,19.9%,...,16.4%,18.5%,23.4%,18.5%,22.3%,16.7%,21.0%,18.2%,13.6%,22.3%
9,"$75,000 to $99,999",16.3%,13.0%,9.1%,11.4%,13.6%,13.6%,17.1%,13.6%,15.0%,...,13.4%,14.7%,14.4%,10.1%,16.1%,12.5%,17.5%,12.1%,13.6%,16.5%
10,"$100,000 to $149,999",17.8%,15.3%,18.0%,23.1%,22.6%,21.9%,21.3%,22.5%,16.4%,...,13.4%,16.0%,17.2%,19.2%,16.7%,21.1%,22.3%,17.8%,19.7%,14.3%
11,"$150,000 to $199,999",6.6%,6.0%,16.0%,22.1%,10.6%,16.2%,16.6%,8.0%,6.8%,...,5.1%,6.6%,3.3%,5.6%,6.6%,11.0%,7.2%,5.5%,9.2%,3.7%
12,"$200,000 or more",2.6%,3.5%,40.0%,10.7%,19.1%,13.6%,11.2%,4.5%,5.2%,...,3.5%,5.2%,2.6%,8.0%,4.0%,12.3%,5.9%,7.7%,16.4%,1.7%
13,With Food Stamp/SNAP benefits in the p...,23.3%,10.4%,0.7%,1.9%,4.6%,0.5%,3.2%,11.8%,10.1%,...,21.6%,14.8%,16.2%,5.7%,12.6%,4.9%,2.7%,13.0%,4.2%,15.9%
14,No health insurance coverage,0.5%,1.5%,0.8%,6.8%,3.9%,2.8%,1.0%,1.1%,1.7%,...,5.6%,2.9%,1.8%,3.0%,2.9%,2.4%,0.0%,0.0%,3.1%,2.4%
15,White,96.9%,96.3%,93.7%,98.5%,96.4%,94.5%,92.2%,98.0%,87.8%,...,53.5%,60.1%,73.2%,72.8%,81.1%,93.5%,93.5%,87.0%,84.7%,71.0%
16,Black or African American,2.2%,3.2%,1.3%,0.6%,3.2%,1.4%,3.3%,0.8%,9.3%,...,41.8%,31.1%,16.4%,22.0%,11.7%,5.1%,2.6%,7.9%,8.1%,19.1%
17,American Indian and Alaska Native,2.0%,0.4%,0.4%,0.5%,2.0%,0.5%,0.8%,1.4%,1.0%,...,1.3%,0.9%,4.5%,1.4%,1.6%,0.9%,1.0%,2.3%,0.9%,2.7%
18,Asian,1.3%,0.9%,6.9%,0.9%,1.4%,3.8%,5.5%,0.6%,1.9%,...,1.0%,10.8%,2.3%,5.2%,4.0%,3.0%,2.1%,5.1%,8.3%,6.7%
19,Native Hawaiian and Other Pacific Isla...,0.5%,0.4%,0.0%,0.0%,0.2%,0.0%,0.1%,0.1%,0.0%,...,0.2%,0.3%,0.1%,0.3%,0.0%,0.3%,0.0%,0.0%,0.0%,0.1%
20,Some Other Race,3.3%,6.9%,3.2%,1.3%,2.6%,3.4%,6.0%,5.2%,4.6%,...,20.3%,7.1%,20.6%,3.2%,11.4%,3.1%,5.1%,6.8%,1.4%,14.9%
21,Hispanic or Latino (of any race),3.5%,4.9%,5.4%,1.7%,6.3%,3.7%,6.9%,5.4%,11.1%,...,33.8%,10.8%,32.1%,7.3%,17.4%,3.8%,4.2%,9.5%,3.1%,21.5%

In [105]:
zip_codes = [
    49508, 49504, 49341, 49507, 49503, 49548, 49506, 49505, 49546, 49525,
    49418, 49519, 49509, 49315, 49316, 49534, 49301, 49512, 48838, 49319,
    49331, 49321, 49345, 48809, 49544, 49306, 49302, 49330, 49343, 49326,
    49325, 49351, 49550, 49560, 49317, 49355, 49357, 49356, 49502, 49510,
    49515, 49514, 49518, 49516, 49523, 49528, 49530, 49555, 49599, 49588,
    49501, 49468
]
print(zip_codes)

[49508, 49504, 49341, 49507, 49503, 49548, 49506, 49505, 49546, 49525, 49418, 49519, 49509, 49315, 49316, 49534, 49301, 49512, 48838, 49319, 49331, 49321, 49345, 48809, 49544, 49306, 49302, 49330, 49343, 49326, 49325, 49351, 49550, 49560, 49317, 49355, 49357, 49356, 49502, 49510, 49515, 49514, 49518, 49516, 49523, 49528, 49530, 49555, 49599, 49588, 49501, 49468]

In [106]:
print(list(pd.DataFrame(zip_codes, columns=['zip']).sort_values(by='zip')['zip']))

[48809, 48838, 49301, 49302, 49306, 49315, 49316, 49317, 49319, 49321, 49325, 49326, 49330, 49331, 49341, 49343, 49345, 49351, 49355, 49356, 49357, 49418, 49468, 49501, 49502, 49503, 49504, 49505, 49506, 49507, 49508, 49509, 49510, 49512, 49514, 49515, 49516, 49518, 49519, 49523, 49525, 49528, 49530, 49534, 49544, 49546, 49548, 49550, 49555, 49560, 49588, 49599]

In [107]:
# DP02
'ZCTA5 48809!!Percent'
'Households with one or more people under 18 years'

'Households with one or more people under 18 years'